body {
  margin: 0;
  padding: 0;
  font-size: 14px;
}
/* HEADER */
.header {
  display: flex;
  justify-content: space-around;
  margin: 2rem;
}
.logo {
  font-size: 2.2rem;
  color: #222;
}
.title {
  font-size: 1.8rem;
  color: #444;
}
/* MAIN SECTION */
.main {
  display: flex;
  justify-content: space-between;
}
.drawing,
.colors {
  border: 2px solid black;
  height: 65vh;
  margin: 1rem;
}
.drawing {
  width: 70%;
}
.colors {
  width: 30%;
}
/* BUTTONS */
.buttons {
  display: flex;
  justify-content: center;
}
.reset,
.print,
.noBorder {
  font-size: 1.2rem;
  color: #006666;
  background-color: #4dffa6;
  padding: 0.3rem;
  margin: 2rem;
  flex-grow: 1;
  border-radius: 5%;
  border: none;
}
/* DRAWING */
.drawing {
  width: 800px;
  height: 400px;
  position: relative;
}
.circle {
  position: absolute;
  border: 1px solid black;
  border-radius: 50%;
}
.large {
  width: 130px;
  height: 130px;
}
.medium {
  width: 80px;
  height: 80px;
}
.small {
  width: 50px;
  height: 50px;
}
.a {
  top: 250px;
  left: 380px;
}
.b {
  top: 10px;
  left: 210px;
}
.c {
  top: 250px;
  left: 520px;
}
.d {
  top: 30px;
  left: 500px;
}
.e {
  top: 250px;
  left: 330px;
}
.f {
  top: 180px;
  left: 450px;
}
.g {
  top: 330px;
  left: 100px;
}
.h {
  top: 240px;
  left: 180px;
}
.i {
  top: 110px;
  left: 80px;
}
.j {
  top: 100px;
  left: 370px;
}
.k {
  top: 5px;
  left: 45px;
}
.l {
  top: 260px;
  left: 30px;
}
.m {
  top: 95px;
  left: 20px;
}
.n {
  top: 120px;
  left: 550px;
}
/* COLORS */
.colors {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
.color {
  width: 3rem;
  height: 3rem;
  border-radius: 10%;
  border: 1px solid grey;
  margin: 0.5rem;
}
.no-color {
  background-color: #ffffff;
}
.yellow {
  background-color: #ffff00;
}
.orange {
  background-color: #ff6600;
}
.darkGreen {
  background-color: #336600;
}
.green {
  background-color: #99ff33;
}
.turquoise {
  background-color: #009999;
}
.lightBlue {
  background-color: #33ccff;
}
.blue {
  background-color: #0033cc;
}
.purple {
  background-color: #800080;
}
.pink {
  background-color: #ff0066;
}
.red {
  background-color: #ff0000;
}
.peach {
  background-color: #ffbb99;
}
.brown {
  background-color: #993300;
}
.black {
  background-color: #000000;
}
.grey {
  background-color: #222222;
}
.white {
  background-color: #ffffff;
}
.no-border {
  border: none;
}
